* {
  box-sizing: border-box;
}

body {
  padding-inline: 1rem;
  background-color: white;
}

header {
  width: fit-content;
  margin-block: 1rem;
  margin-inline: auto;
  text-align: center;
}

button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  cursor: pointer;

  background-color: hsl(0, 0%, 10%);
  border-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 96%);
}

button:hover {
  opacity: 85%;
}

main {
  margin-inline: auto;
  max-width: 100ch;

  font-size: 1.15rem;
}

p {
  text-indent: 20px;
}

.dark-mode {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 96%);
}

.dark-mode button {
  background-color: hsl(60, 95%, 71%);
  border-color: hsl(60, 95%, 71%);
  color: hsl(0, 0%, 10%);
}

.dark-mode a {
  color: lightgreen;
}

.rainbow-mode {
background: pink;
background: repeating-linear-gradient(
  270deg,
  /* at 50% 0%, */
  red,
  orange,
  yellow,
  green,
  blue,
  violet),
  repeating-linear-gradient(
  270deg,
  /* at 50% 0%, */
  red,
  orange,
  yellow,
  green,
  blue,
  violet);

  background: repeating-linear-gradient(
      190deg,
      rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px,
      rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px,
      rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px
    ), repeating-linear-gradient(
      -190deg,
      rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px,
      rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px,
      rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px,
      rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px
    ), repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green
        200px, blue 250px, indigo 300px, violet 350px, red 370px);
}

.rainbow-button {
  background: repeating-linear-gradient(
      190deg,
      rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px,
      rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px,
      rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px
    ), repeating-linear-gradient(
      -190deg,
      rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px,
      rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px,
      rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px,
      rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px
    ), repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green
        200px, blue 250px, indigo 300px, violet 350px, red 370px);
}

.rainbow-mode .rainbow-button {
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 96%);
}